/*======== 1. Body and style About me ========*/
/*************************************

        Table of Content
        A. Body
        B. About Section


**************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700");

/*======== 1. Body and Core Css ========*/
/*======== About more Page Style========*/

/*-----  style de texte de site--------*/
/*======== Aboute Page Style========*/

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.65;
  color: #e1e1e1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/*======== Home Page Style========*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none !important;
  outline: none !important; }



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Serif Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }

span {
  display: inline-block;
 }

p {
  line-height: 1.65;

 }



/*-----  Body---Id home-----*/
i, em {
  font-style: normal;
}

a:hover {
  text-decoration: none;
 }

html,
body {
  overflow:auto;
  height: 100vh;
 }


 a,
 a:hover,
 a:focus {
   color: inherit;
 }

 a {
   text-decoration: none;
   color: #e1e1e1;
   outline: none;
 }
 a:hover {
  color: #fff;
 }




/*-----  IMAGE-----*/
img {
  width: 100%;
  height: auto;
}

/*-----  HEADER -------*/
/*-----  Position logo--------*/

.logo {
  position: absolute;
  display: block;
  z-index: 1000;
  width: 8%;
  height: 8%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
header .logo {
  position: absolute;
  display: block;
  z-index: 1000;
  top: 20px;
  left: 20px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1em;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px black;
  color: #fff;


  }

  header .logo:before {

    position: absolute;
    top: 10%;
    left: 10%;
    opacity: .6;
    z-index: -1;
  }
  header .logo span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  /*-----  HEADER -------*/
header {
  position: fixed;

	justify-content: center;
	align-items: center;
	background: rgba(151, 150, 150,0.1);
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 10px 10px 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-position: center;
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  z-index: 1000;


}

header .nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.navbar-expand-lg {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.navbar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
}

header .nav-menu {
  text-align: center;
}
header .nav-menu .nav-menu--link {
  display: inline-block;
  padding: 0 0.2em;
  margin: 0px 15px;
  text-align: center;
  font-size: 1.2em;

  position: relative;

  color: #FBD46D;
    margin-top: 80px;
    font-weight: 400;

    font-family: "Cookie,Lora,Georgia,serif";
    letter-spacing: 3px;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
    font-size: 4.2em;
    line-height: 1.6em;
}
header .nav-menu .nav-menu--link span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 700;
  padding-top: 2px;
  line-height: 100%;
  text-align: center;
}

/**************************************/
/*----- Architechteur de page-----*/
.mt-0 {
  margin-top: 0 !important;
 }

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
 }

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
 }

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-55 {
  margin-top: 55px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-62 {
  margin-top: 62px !important;
}

.mt-65 {
  margin-top: 65px !important;
}

.mt-70 {
  margin-top: 70px !important;
 }

.mt-75 {
  margin-top: 75px !important;
}

.mt-80 {
  margin-top: 80px !important; }

.mt-85 {
  margin-top: 85px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-95 {
  margin-top: 95px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
 }
  .loading-text span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #000;
    font-size: 22px;
  }
    .loading-text span:before {
      content: attr(data-preloader);
      position: absolute;
      top: 0;
      left: 0;
      color: #e1e1e1;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-fill-mode: backwards;
      animation-fill-mode: backwards;
      -webkit-animation-name: preload-animation;
      animation-name: preload-animation;
     }
    .loading-text span:nth-child(2):before {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
     }
    .loading-text span:nth-child(3):before {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
     }
    .loading-text span:nth-child(4):before {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
    .loading-text span:nth-child(5):before {
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
     }
    .loading-text span:nth-child(6):before {
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }
    .loading-text span:nth-child(7):before {
      -webkit-animation-delay: 1.2s;
      animation-delay: 1.2s;
    }

    @-webkit-keyframes preload-animation {
      0%, 100% {
        -webkit-transform: rotateY(-90deg) scale(1);
        transform: rotateY(-90deg) scale(1);
        opacity: 0;
       }
      20%, 50% {
        -webkit-transform: rotateY(0) scale(1);
        transform: rotateY(0) scale(1);
        opacity: 1;
      }
      75% {
        -webkit-transform: rotateY(0) scale(1.2);
        transform: rotateY(0) scale(1.2);
        opacity: 0; }
      }

    @keyframes preload-animation {
      0%, 100% {
        -webkit-transform: rotateY(-90deg) scale(1);
        transform: rotateY(-90deg) scale(1);
        opacity: 0;
      }
      20%, 50% {
        -webkit-transform: rotateY(0) scale(1);
        transform: rotateY(0) scale(1);
        opacity: 1;
      }
      75% {
        -webkit-transform: rotateY(0) scale(1.2);
        transform: rotateY(0) scale(1.2);
        opacity: 0; }
      }
/**************************************/
/*-----  Page heading-----*/
.page-heading {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}
.page-heading {
  text-align: center;

}
.page-heading h2 {
  position: relative;
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: "Source Serif Pro", serif;
  color: #e1e1e1;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
 }
  .page-heading h2:before {
    position: absolute;
    content: attr(data-shadow);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 62px;
    text-transform: capitalize;
    z-index: -1;
    color: #e1e1e1;
    font-weight: 700;
    opacity: .04;
    text-transform: uppercase;
   }

.sub-heading {
margin-bottom: 40px;
text-align: center;
overflow: hidden;
}
.sub-heading h3 {
  color: #e1e1e1;
  font-weight: 600;
  font-size: 28px;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
  .sub-heading h3:before {
    content: " ";
    background: cyan;
    height: 4px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 50px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }










.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/*-----  about info col-lg-5----*/





/*-----  about texte col-lg-7----*/

.section-about .about-info p strong {
  color: #F5AE51;
}
/*-----  h3 mb20---*/
.mb-20 {
  margin-bottom: 20px !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Serif Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*-----  col-sm-6---*/
/*-----  about liste----*/
.section-about .about-info .about-list li .title {
  position: relative;
  margin-right: 10px;
  padding-bottom: 1px;
  color: #a1a1a1;
  font-weight: 700;
}
.section-about .about-info .about-list li .value {
  position: relative;
}

/*-----  Row----*/
/*-----  col-md-12---*/
/************cv telecharger **************************/
/*----- button----*/
.main-btn {
  color: #F5AE51;
  border-color: #F5AE51;
}
.main-btn {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #e1e1e1;
  border: 2px solid #e1e1e1;
  border-top-color: rgb(225, 225, 225);
  border-right-color: rgb(225, 225, 225);
  border-bottom-color: rgb(225, 225, 225);
  border-left-color: rgb(225, 225, 225);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.main-btn:hover {
  color: #1d1e21;
}

/*======== 4. Home Section ========*/

[class*="letter"] {
  display: block;
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  white-space: pre;
}
/* Text Slideshow */

.text-slideshow,
.text-slideshow .text-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.text-slideshow .text-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-slideshow .text-slide:not(.text-slide--current) {
  position: absolute;
  top: 0;
  pointer-events: none;
  opacity: 0;
}

.letter-effect {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page.section-home {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
  .page.section-home:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #181818;
    opacity: .4;
    z-index: 0;
   }
  .page.section-home .banner-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
   }
    .page.section-home .banner-text .profile-img {
      display: inline-block;
      margin-bottom: 30px; }
      .page.section-home .banner-text .profile-img img {
        width: 150px;
        height: 150px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 3px solid #dfdfdf;
       }
    .page.section-home .banner-text .animate-title {
      margin: auto;
      font-size: 62px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 1em;
    }
    .page.section-home .banner-text h4 {
      font-size: 32px;
      letter-spacing: 1px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-family: "Open Sans", sans-serif;
    }

    .page.section-home .banner-slider {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
     }

/*======== 5. About Section ========*/
/*-----  Banner slider-----*/
/*-----   slider-----*/
/*-----   slider-container----*/
/**************************************/
/*-----   banner texte-----*/
/*-----   profil image-----*/
/**************************************/
/*-----   profil image-animation----*/
/*-----   profil texte-animation----*/
/**************************************/
/************ABOUT ME**************************/
/*-----  page section about----*/

/*-----  container about----*/
/*-----  page heading----*/
/*-----  about img---*/

.section-about .about-img img {
  border: 10px solid rgba(255, 255, 255, 0.03);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
/*-----  about info mb60----*/
.mb-60 {
  margin-bottom: 60px !important;
}

.section-about .about-info h3 {
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 600;
}

.section-about .about-info p {
  margin-bottom: 25px;
  line-height: 27px;
}
  .section-about .about-info p strong {
    color: #e1e1e1;
  }

.section-about .about-info .about-list li {
  margin-bottom: 10px;
 }
  .section-about .about-info .about-list li .title {
    position: relative;
    margin-right: 10px;
    padding-bottom: 1px;
    color: #a1a1a1;
    font-weight: 700;
  }
    .section-about .about-info .about-list li .title:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      background: #e1e1e1;
      -webkit-border-radius: 2px;
      border-radius: 2px;
    }
    .section-about .about-info .about-list li .title:after {
      position: absolute;
      content: ':';
      right: -8px;
    }
  .section-about .about-info .about-list li .value {
    position: relative;
  }
    .section-about .about-info .about-list li .value:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
    }

.section-about .services .service-item {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 40px;
}
  .section-about .services .service-item i {
    font-size: 40px;
    margin-bottom: 15px;
    color: #e1e1e1;
  }
  .section-about .services .service-item .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .section-about .services .service-item p {
    font-size: 14px;
    margin-bottom: 0px;
  }

/*-----  about testimonials----*/
.testimonials {
  margin-bottom: 100px; }
  .testimonials .testimonial-item {
    padding: 0px 15px 0px;
  }
    .testimonials .testimonial-item .description {
      background: #323338;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      font-size: 14px;
      font-style: italic;
      padding: 45px 35px;
      position: relative;
      -webkit-filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
      filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2)); }
      .testimonials .testimonial-item .description p {
        margin-bottom: 0; }
      .testimonials .testimonial-item .description:before {
        content: "\f10d";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        top: 0;
        font-size: 30px;
        color: #e1e1e1;
      }
      .testimonials .testimonial-item .description:after {
        content: "";
        width: 27px;
        position: absolute;
        bottom: -13px;
        border-top: 13px solid #353539;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent; }
    .testimonials .testimonial-item .testimonial-review {
      padding-top: 24px;
    }
      .testimonials .testimonial-item .testimonial-review img {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        float: left;
        width: 60px;
        height: 60px;
        margin-left: 20px;
        margin-right: 20px;
      }
      .testimonials .testimonial-item .testimonial-review .testimonial-title {
        font-size: 18px;
        font-weight: 600;
        margin-top: 7px;
        float: left;
        text-transform: capitalize;
      }
        .testimonials .testimonial-item .testimonial-review .testimonial-title small {
          display: block;
          font-size: 16px;
          margin-top: 3px;
        }
      .testimonials .testimonial-item .testimonial-review .rating {
        padding: 0;
        list-style: none;
        text-align: right;
      }
        .testimonials .testimonial-item .testimonial-review .rating li {
          display: inline-block;
          color: #e1e1e1;
        }

.clients .client-logo {
  border: 2px solid rgba(255, 255, 255, 0.03);
  padding: 10px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
/*======== 7. Portfolio Section ========*/
.section-portfolio .portfolio-filter {
  margin-bottom: 40px; }
  .section-portfolio .portfolio-filter ul {
    text-align: center;
    margin-bottom: 0px; }
    .section-portfolio .portfolio-filter ul li {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      cursor: pointer;
      position: relative;
      padding: 10px 25px;
      text-transform: uppercase;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .section-portfolio .portfolio-filter ul li.active {
        background-color: #e1e1e1;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        -webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
        color: #000; }

.section-portfolio .portfolio-items .item figure {
  position: relative;
  text-align: center;
  cursor: pointer;
  background: #e1e1e1;
  margin-bottom: 20px;
  overflow: hidden; }
  .section-portfolio .portfolio-items .item figure img {
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%; }
  .section-portfolio .portfolio-items .item figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 24px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .section-portfolio .portfolio-items .item figure figcaption a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0; }
    .section-portfolio .portfolio-items .item figure figcaption:before {
      position: absolute;
      top: -10%;
      left: -10%;
      width: 120%;
      height: 120%;
      content: '';
      -webkit-transition: -webkit-transform 0.6s;
      transition: -webkit-transform 0.6s;
      -o-transition: transform 0.6s;
      transition: transform 0.6s;
      transition: transform 0.6s, -webkit-transform 0.6s;
      -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
      transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
      background-color: rgba(255, 255, 255, 0.5); }
    .section-portfolio .portfolio-items .item figure figcaption h3 {
      text-align: left;
      opacity: 0;
      -webkit-transition: opacity 0.35s;
      -o-transition: opacity 0.35s;
      transition: opacity 0.35s;
      font-size: 20px;
      font-weight: 700; }
    .section-portfolio .portfolio-items .item figure figcaption p {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 18px;
      font-size: 14px;
      padding: 0 10px;
      -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
      transform: translateX(200%);
      border-right: 4px solid #fff;
      text-align: right;
      opacity: 0;
      -webkit-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s; }
    .section-portfolio .portfolio-items .item figure figcaption i {
      position: absolute;
      left: 0px;
      -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
      transform: translateX(-200%);
      margin: 18px;
      font-size: 24px;
      opacity: 0;
      bottom: 0;
      -webkit-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s; }
  .section-portfolio .portfolio-items .item figure:hover img {
    opacity: 0.25;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1); }
  .section-portfolio .portfolio-items .item figure:hover figcaption:before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 130%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 130%, 0); }
  .section-portfolio .portfolio-items .item figure:hover h3 {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .section-portfolio .portfolio-items .item figure:hover p {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  .section-portfolio .portfolio-items .item figure:hover i {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }












col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

p {
  line-height: 1.65;
}

.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}



.mb-60 {
  margin-bottom: 60px !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.section-about .about-info .about-list li .title {
  position: relative;
  margin-right: 10px;
  padding-bottom: 1px;
  color: #a1a1a1;
  font-weight: 700;
}
span {
  display: inline-block;
}
span {
  display: inline-block; }

p {
  line-height: 1.65; }

img {
  width: 100%;
  height: auto; }

a,
a:hover,
a:focus {
  color: inherit; }

a {
  text-decoration: none;
  color: #e1e1e1;
  outline: none; }

a:hover {
  color: #fff; }
  ul {
    margin-top:0;
    margin-bottom:1rem
   }
   ol ol,
   ol ul,
   ul ol,
   ul ul {
    margin-bottom:0
   }
   dt {
    font-weight:700
   }
   dd {
    margin-bottom:.5rem;
    margin-left:0
   }
   .mb-20 {
    margin-bottom: 20px !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-sm-6 {
  flex:0 0 50%;
  max-width:50%
 }
 .col-xl-auto {
  position:relative;
  width:100%;
  min-height:1px;
  padding-right:15px;
  padding-left:15px
 }
 .col {
  flex-basis:0;
  flex-grow:1;
  max-width:100%
 }
 .col-auto {
  flex:0 0 auto;
  width:auto;
  max-width:none
 }




 .col-lg-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.col-lg-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.mb-20 {
  margin-bottom: 20px !important;
 }

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}
.page {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100vh;
  pointer-events: auto;
  background: #2a2b30;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
#about{
  z-index: 6;
  opacity: 1;
}
.container {
  max-width: 1140px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-lg-5 {
  flex:0 0 41.66667%;
  max-width:41.66667%
 }
 .col-lg-6 {
  flex:0 0 50%;
  max-width:50%
 }
 .col-lg-7 {
  flex:0 0 58.33333%;
  max-width:58.33333%
 }
 .col-lg-8 {
  flex:0 0 66.66667%;
  max-width:66.66667%
 }
 .col-lg-9 {
  flex:0 0 75%;
  max-width:75%
 }
 .col-lg-10 {
  flex:0 0 83.33333%;
  max-width:83.33333%
 }
 .col-lg-11 {
  flex:0 0 91.66667%;
  max-width:91.66667%
 }
 .col-lg-12 {
  flex:0 0 100%;
  max-width:100%
 }


 @media screen and ( max-width :760px) {
 header{
   width: 50%;
 }
a.nav-menu--link{

  padding: 2px;
  font-size: 1.2em;
}

 }
 .main-btn {
  color: #F5AE51;
  border-color: #F5AE51;
}
.main-btn {
  display: inline-block;
  background-color: #222;
  padding: 10px 20px;
  border: 2px solid #222;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: .2s background-color ease;
  -o-transition: .2s background-color ease;
  transition: .2s background-color ease;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

/*============ 4. Banner Section============*/
.banner {
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }
  .banner:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 2;
    opacity: .5; }
  .banner .banner-caption {
    top: 50%;
    position: absolute;
    color: #fff;
    z-index: 11;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .banner .banner-caption h1 {
      font-size: 88px;
      font-weight: 900;
      color: #fff; }
    .banner .banner-caption p {
      font-size: 24px;
      font-family: "Raleway", san-serif;
      color: #eee; }

.cd-headline {
  font-size: 3rem;
  line-height: 1.2; }

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left; }

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0; }

.cd-words-wrapper b.is-visible {
  position: relative; }

.no-js .cd-words-wrapper b {
  opacity: 0; }

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1; }

/* xclip */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0; }

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top; }

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9; }

.cd-headline.clip b {
  opacity: 0; }

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 700; }

.arrow {
  position: absolute;
  bottom: 10vh;
  width: 100vw;
  z-index: 20;
  padding-left: 75px; }
  .arrow a {
    color: #fff; }

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

/*===Slider Page===*/
.banner .banner-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1; }

/*===Creative Page===*/
#home-svg {
  height: 150px;
  width: 100vw;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 3; }
  #home-svg .p-curve {
    fill: #fff; }

/*===Center Banner Captions===*/
.banner-centered .banner-caption {
  text-align: center; }

.banner-centered .arrow {
  padding-left: 0;
  text-align: center; }

/*===Banner Particles 1===*/
.banner #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 15; }
  /*============ 5. About Section ============*/
section.about .about-img {
  position: relative; }
  section.about .about-img:before {
    content: "";
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -10%;
    left: -10%;
    z-index: 0; }
  section.about .about-img img {
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0 0 85px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 85px 0 rgba(0, 0, 0, 0.14); }

section.about .about-content .about-heading {
  margin-bottom: 20px; }
  section.about .about-content .about-heading h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase; }
  section.about .about-content .about-heading span {
    font-family: "Raleway", san-serif;
    color: #222;
    font-size: 19px; }

section.about .about-content p {
  line-height: 28px; }

section.about .about-content .social-icons {
  margin-top: 30px; }
  section.about .about-content .social-icons a {
    display: inline-block;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    margin-right: 10px;
    background-color: #222;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #222;
    width: 30px;
    height: 30px;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease; }
    section.about .about-content .social-icons a .fa {
      color: #fff;
      -webkit-transition: .2s all ease;
      -o-transition: .2s all ease;
      transition: .2s all ease; }
    section.about .about-content .social-icons a:hover {
      border: 2px solid #222;
      background: transparent;
      line-height: 26px; }
      section.about .about-content .social-icons a:hover .fa {
        color: #222; }

section.about .about-content .about-button {
  margin-top: 40px; }
/*============ 12. Footer  ============*/
footer {
  background: #222; }
  footer .contact-info h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 700; }
  footer .contact-info p {
    color: #fff;
    font-size: 14px; }
  footer hr {
    border-color: #333; }
  footer .copy {
    font-size: 14px;
    color: #aaa; }

/*============ 13. Blogs Page ============*/
section.banner-blog {
  height: 50vh;
  background-color: #222;
  position: relative;
  overflow: hidden; }
  section.banner-blog #particles-js {
    width: 100%;
    height: 100%; }
  section.banner-blog .banner-caption {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center; }
    section.banner-blog .banner-caption h1 {
      color: #fff;
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase; }

/*============ 14. Single Blog Page ============*/
.blog-detail .blog-heading {
  margin-bottom: 30px; }
  .blog-detail .blog-heading h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 25px 0 10px 0; }
  .blog-detail .blog-heading .blog-meta span {
    font-size: 14px; }

.blog-detail .blog-content {
  margin-bottom: 90px; }
  .blog-detail .blog-content p {
    line-height: 28px; }

.blog-detail .comment-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; }

.blog-detail ul.post-comment {
  float: left; }
  .blog-detail ul.post-comment li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #efefef;
    padding: 15px 0;
    list-style: none; }
    .blog-detail ul.post-comment li img {
      width: 15%;
      float: left; }
    .blog-detail ul.post-comment li .comment-info {
      float: left;
      width: 85%;
      padding-left: 15px;
      margin-top: 10px; }
      .blog-detail ul.post-comment li .comment-info h3 {
        float: left;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0; }
      .blog-detail ul.post-comment li .comment-info a {
        float: right;
        font-size: 13px;
        font-weight: 800;
        color: #222; }
      .blog-detail ul.post-comment li .comment-info span {
        float: left;
        width: 100%;
        font-size: 13px; }
      .blog-detail ul.post-comment li .comment-info p {
        font-size: 14px;
        line-height: 1.2;
        float: left;
        margin-top: 6px; }


/*============ 15. Mobile Responsive  ============*/
@media screen and (max-width: 991px) {
  .navbar-collapse {
    text-align: center;
    background-color: rgba(34, 34, 34, 0.9); }
    .navbar-collapse .nav-item {
      padding: 0 !important; }
      .navbar-collapse .nav-item a {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px; }
  .fixed-top .navbar-collapse {
    background-color: transparent; }
  .banner .banner-caption h1 {
    font-size: 75px; }
  .banner .banner-caption p {
    font-size: 21px; }
  section.about .about-img:before {
    display: none; }
  section.about .about-content {
    margin-top: 50px; }
  section.banner-blog .banner-caption h1 {
    font-size: 40px; } }

@media screen and (max-width: 767px) {
  .banner .banner-caption h1 {
    font-size: 46px; }
  .banner .banner-caption p {
    font-size: 17px; }
  .banner #home-svg {
    height: 80px; }
  section.banner-blog .banner-caption h1 {
    font-size: 32px; } }
    .theme-options {
      width: 180px;
      position: fixed;
      right: -180px;
      top: 15%;
      background-color: #fff;
      z-index: 1000;
      border: 1px solid #d5d5d5;
      -webkit-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
  }

  .theme-options.active {
      right: 0;
  }

  .theme-options .toggle-btn {
      position: absolute;
      top: -1px;
      left: -40px;
      height: 40px;
      width: 40px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #d5d5d5;
      border-right: none;
      cursor: pointer;
  }

  .theme-options .toggle-btn span {
      margin: 0;
      margin: 0 auto;
  }

  .theme-options .toggle-btn span i {
      font-size: 26px;
      -webkit-animation-name: settings;
      animation-name: settings;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      color: #777;
      line-height: 38px;
  }

  @-webkit-keyframes settings {
      0% {
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
      }

      100% {
          transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
      }
  }

  @keyframes settings {
      0% {
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
      }

      100% {
          transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
      }
  }

  .theme-options .theme-menu {
      text-align: center;
      padding: 10px 0px 0px 0px;
  }

  .theme-options .theme-menu h4 {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      color: #222;
  }

  .theme-options .theme-menu .theme-color {
      padding: 0 20px;
  }

  .theme-options .theme-menu .theme-color ul {
      margin-top: 10px;
  }

  .theme-options .theme-menu .theme-color ul li {
      display: inline-block;
  }

  .theme-options .theme-menu .theme-color ul li a {
      width: 40px;
      height: 40px;
      display: inline-block;
  }

  .theme-options .theme-menu .background-demos h4 {
      padding: 0 20px;
  }

  .theme-options .theme-menu .background-demos ul li {
      margin-top: -1px;
      float: left;
      width: 50%;
      height: 34px;
      line-height: 34px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      border-right: 1px solid #eee;
      text-align: center;
      font-size: 11px;
      text-transform: uppercase;
  }

  .theme-options .theme-menu .background-demos ul li a {
      color: #222;
      font-weight: 600;
      display: block;
  }

  .buy-btn {
      display: block;
      clear: both;
      margin: 10px -1px -1px -1px;
      padding: 0 15px;
      height: 40px;
      line-height: 40px;
      color: #f9f9f9;
      background: blue;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
  }

  .landing {
      padding-bottom: 50px;
      overflow-y: scroll;
  }
  .landing header {
      padding: 120px 0;
  }
  .landing header h1 {
      font-size: 62px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 10px;
      color: #F5AE51;
  }
  .landing header p {
      font-size: 26px;
      font-weight: 600;
  }
  .landing header a {
      margin-top: 30px;
  }
  .landing .demos .demo-item {
      margin-bottom: 60px;
      display: block;
      position: relative;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s;
      padding: 0 20px;
  }
  .landing .demos .demo-item:hover {
      -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      transform: translateY(-15px);
  }
  .landing .demos .demo-item img {
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
  .landing .demos .demo-item:hover span {
      color: #F5AE51;
  }
  .landing .demos .demo-item span {
      margin-top: 20px;
      display: block;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      line-height: 1em;
      text-transform: uppercase;
      -webkit-transition: all ease 0.2s;
      -o-transition: all ease 0.2s;
      transition: all ease 0.2s;
  }